<h1>New Message</h1>

<%= render partial: "form",
           locals: {
               message: @message,
               conversation: @conversation,
               current_person: @current_person} %>

<%= link_to 'Back', messages_path %>
