<div class="row ml-0 mt-3">
  <h2 class="text-info">Edit "<%=@profile.name%>" </h2>
</div>
<div class="row ml-0 mt-2">
  <p class="text-success">Please enter the required information to edit the "<%=@profile.name%>" profile:</p>
</div>
<%= render partial: "form",
           locals: {
               profile: @profile,
               submit_btn_text: "Update"
           } %>
