<div class="row ml-0 mt-3">
  <h2 class="text-info">Adding a Profile to "<%= @user.username %>"</h2>
</div>
<div class="row ml-0 mt-2">
  <p class="text-success">Please enter the required information to create a new Profile for the user:</p>
</div>
<div class="row ml-0 mt-2">
  <%= render 'form', locals: { user: @user, profile: @profile} %>
</div>
