<div class="row ml-0 mt-3">
  <h2 class="text-info">Adding a guests to "<%= @event.title %>"</h2>
</div>
<div class="row ml-0 mt-2">
  <p class="text-success" >Please select a new guest to the event:</p>
</div>
<div class="row ml-0 mt-2">
  <%= render 'form', locals: { event: @event, guest: @guest} %>
</div>