<td><%= link_to "vote", new_dates_to_vote_vote_path(@dates_to_vote), class: ["btn", "btn-info"] %></td>

<!--<= link_to 'Edit', edit_dates_to_vote_path(@dates_to_vote) %> |-->
<%= link_to 'Back', events_path(@event),  class: ["btn", "btn-info"]%>
