<p id="notice"><%= notice %></p>

<h1>Comments</h1>

<table>
  <thead>
    <tr>
      <th>Comment</th>
      <th>Event</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>

        <td><%= comment.rich_text %></td>
        <td><%= comment.event.title %></td>

        <td><%= link_to 'Destroy', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<br>
