
<h2 class="text-info">🌼 </h2>
<div id="container" >
  <div class="row">
    <div class="col">
      <div class="text-center ">
        <select class="custom-select">
          <option selected>Guests</option>
          <% @members.each do |member| %>
            <option value="i"><%=member.organization.name%></option>
          <% end %>
        </select>


      </div>
      <br>


      </dl>


    </div>
  </div>

  <br>


</div>
