
<h2 class="text-info">🌼<%= @user.name %> </h2>
<div id="container" >
  <div class="row">
    <div class="col">
      <div class="text-center ">


      </div>
      <br>

      <dl id="profile_info">
        <dt class="text-success">Username</dt>

        <dt class="text-success">Full name</dt>
        <dd>• <%= @user.name %> </dd>
        <dt class="text-success">Location</dt>


      </dl>


    </div>
  </div>

  <br>


</div>
