<div >
  <div class="row ml-0 mt-3">
    <h2 class="text-info">Upcoming Events</h2>
  </div>
  <div>
    <div class="row ml-0 mt-2 mb-3">
      <% if (user_signed_in?) || (admin_signed_in?) %>
        <%= link_to "Create Event", new_event_path(@members), class: ["btn", "btn-primary"] %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <% @events.each do |event| %>
      <%= render partial: 'events/event_tile', locals: { event: event } %>
    <% end %>
  </div>
  <div class="row ml-0 mt-3">
    <h2 class="text-info">Organizations </h2>
  </div>
  <div class="row">
    <% @organizations.each do |organization| %>
      <%= render partial: 'organizations/organization_tile', locals: { organization: organization } %>
    <% end %>
  </div>
</div>
<br>
<br>