<div class="row ml-0 mt-3">
  <h2 class="text-info">🌌 Organizations </h2>
</div>
<div class="row ml-0 mt-2">
  <p>Hi</p>
</div>
<div class="row ml-0 mt-2 mb-3">
  <%= link_to "Add Organization", new_organization_path, class: ["btn", "btn-primary"] %>
</div>
<div class="row">
  <% @organizations.each do |organization| %>
    <%= render partial: 'organization_tile', locals: { organization: organization } %>
  <% end %>
</div>