<%= form_with(model: wall_of_comment, local: true) do |form| %>
  <% if wall_of_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wall_of_comment.errors.count, "error") %> prohibited this wall_of_comment from being saved:</h2>

      <ul>
        <% wall_of_comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
