<%= form_with model: [@dates_to_vote, @vote], local: true do |form| %>
  <%= errors_for @vote %>

  <div class="form-group">
    <%= form.submit class: ["btn", "btn-primary"] %>
    <%= link_to "Back", :back, class: ["btn", "btn-secondary"] %>
  </div>
<% end %>