<%= form_with model: [@event, @report], local: true do |form| %>
  <%= errors_for @report %>

  <div class="form-group">
    <%= form.submit class: ["btn", "btn-primary"] %>
    <%= link_to "Back", :back, class: ["btn", "btn-secondary"] %>
  </div>
<% end %>