<div class="container">
<div class="row ml-0 mt-3">
  <h2 class="text-info">Adding a Report to "<%= @event.title %>"</h2>
</div>
<div class="row ml-0 mt-2">
  <p class="text-success">Are you sure to report event as inappropriate?</p>
</div>
<div class="row ml-0 mt-2">
  <%= render 'form', locals: { event: @event, report: @report} %>
</div>
</div>
<br>
<br>