<div class="container">
  <h1 class="text-info font-weight-bold">Use Policy</h1>
  <p class="text-success">By using the VED website, you are accepting this policy. The term "website" refers to the set of  SDKs, plugins, code, specifications, documentation, technology, and services (such as content) that allow other people, including application developers and website operators, to obtain VED data or provide it to us. The policy may be modified without prior notice, so we recommend that you consult it continuously. Your uninterrupted use of the VED website will mean acceptance of these modifications.</p>
  <p class="text-success">The VED website is created so that people can be part of a community and get to know each other, get together. First of all, we offer it to members of our community so that they can share their own thinking (without harming other users). They can also create events or organizations, and invite the people they want. Finally, it is also the goal of the VED website to help members get together when it is sometimes very difficult, coordinating together a can have a great time.</p>
  <br>
  <h1 class="text-info font-weight-bold">Terms of Service</h1>
  <p class="text-success">By creating a Vote Event Date (VED) account (as defined in section 1), you agree to be bound by the following terms and conditions.</p>
  <p class="text-success">The services offered by VED under the Terms of service include being able to be part of a community and communicate with friends or strangers and attend events on a specific day and time. All this online.</p>
 <p class="text-success">VED reserves the right to update and change the published Terms of Service and updates on the VED website. It is recommended that you periodically consult the Terms of Service to see if there are updates or changes that you do not like, in which case you can cancel your account.</p>
  <br>
  <h2 class="text-info ">1. Account Terms</h2>
  <ul class="list-unstyled">
      <ul>
        <li class="text-success">To access and use the Services, you must register for a VED ("Sign up") account by providing your valid email address, password, first name, last name, location, username and short bio. VED may cancel an existing account, for any reason, at our sole discretion.</li>
        <li class="text-success">People of any age can register.</li>
        <li class="text-success">You acknowledge that VED will use the email address you provide when opening an Account or that you update regularly as the primary method of contacting you.</li>
        <li class="text-success">You are responsible for choosing and keeping your password secure. VED cannot and will not be responsible for any loss or damage for failure to maintain the security of your account and password.</li>
        <li class="text-success">You are responsible for all activity and content, such as photos, images, videos, written content, files, information or data uploaded, collected, generated, displayed, distributed, transmitted in connection with your account.</li>
      </ul>
  </ul>

  <h2 class="text-info ">2. Account</h2>
  <ul class="list-unstyled">
    <ul>
      <li class="text-success">You can be an event creator and manage the events page, selecting guests, possible dates for the event, allowing it to be public or private. Files, images and videos can be posted on the home page of the event.</li>
      <li class="text-success">You can be a creator and administrator of an organization, in it you can manage all the events that belong to that organization. Add members. Files, images and videos can be posted on the home page of the organization.</li>
      <li class="text-success">All events must belong to an organization.</li>
      <li class="text-success">You can report abusive content: event, if at your discretion violates the rules of the community.</li>
    </ul>
  </ul>

  <h2 class="text-info ">3. General Conditions</h2>
  <ul class="list-unstyled">
    <ul>
      <li class="text-success">You must read, accept and accept all the terms and conditions contained in these Terms of Service, including the AUP and the Use Policy before becoming a user of VED.</li>
      <li class="text-success">You may not use the VED Services for any illegal or unauthorized purpose, nor may you violate any law in your jurisdiction in using the Service (including but not limited to copyright laws).</li>
      <li class="text-success">The Services allow you to send certain communications to your users using message service (text) messages. You must be a user friendly with others.</li>
    </ul>
  </ul>
  <br>
  <br>
</div>



