<div class="container">
<div class="row ml-0 mt-3">
  <h2 class="text-info">Adding a member to "<%= @organization.name %>"</h2>
</div>
<div class="row ml-0 mt-2">
  <p class="text-success" >Please choose a new member:</p>
</div>
<div class="row ml-0 mt-2">
  <%= render 'form', locals: { organization: @organization, member: @member} %>
</div>
</div>
<br>
<br>